# macOS
.DS_Store

# MPLAB XC8 and CMake build output
_build/
out/

# Editor and tool caches
.vscode/*.log

.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*